.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  /* border-radius: 50%; */
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.infoAboutMe {
  display: flex;
  flex-direction: row;
}

.name-designation {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  align-items: center;
  justify-content: left;
}
